<!DOCTYPE html>
<html>

<head>

    <title>Owner Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="login-box">

    <div class="logo">🔐</div>

    <h1>Owner Login</h1>

    <p>Bellad Bagewadi Gram Panchayat Library</p>

    {% if error %}
        <div class="error">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST">

        <label>Username</label>

        <input
            type="text"
            name="username"
            required
        >

        <label>Password</label>

        <input
            type="password"
            name="password"
            required
        >

        <button type="submit">
            LOGIN
        </button>

    </form>

    <a href="{{ url_for('home') }}">
        ← Back to Home
    </a>

</div>

</body>
</html>